h1,h2,h3,h4,h5,h6{
	font-family: 'Comic Sans MS','Noto Sans TC', sans-serif;
}
p,a,span,li,label{
	font-family: 'Comic Sans MS','Open Sans', sans-serif;
}
img{
	max-width:100%;
}
nav li{
	    margin: 0 13px;
}
.btn{
    background-color: #f05f5c;
    padding: 7px 28px;
    border-radius: 20px;
    border: none;
}
.btn:hover{
	opacity:0.8;
	background-color: #f05f5c!important;
}

p{
	font-size: 16px;
    line-height: 26px;
    color: #707070;
}
#email{
	padding: 80px 0px
}
footer{
	padding: 80px 0px
}
#email p{
	margin-top: 40px;
}
#email .btn{
	margin-top: 10px;
	font-size: 16px;
}
#thing_title{
	padding: 20px 0px;
	font-size: 40px;

}
#things .list-group-item{
	padding: 15px 0px;
	font-weight: bold;
	letter-spacing: 2px;
	font-size: 18px;
	color: #9b9696e5;	
}
#things a:link{
	text-decoration:none;
	background-color:#ffffff;
	}
#things a:visited {
	color: #9b9696e5;
	}
#things a:hover {
	text-decoration:underline;
	color:rgb(240, 122, 167);
	}
#things .p_title{
	font-size: 30px;
	font-weight: bold;
	/* 設定文字行距 */
	line-height: 30px;
	/* 設定文字間距 */
	letter-spacing: 2px;
	padding: 5px;
	color: #f05f5c;
}
#things p{
	font-size: 18px;
	font-weight: bold;
	/* 設定文字行距 */
	line-height: 30px;
	/* 設定文字間距 */
    letter-spacing: 2px;
	color: #b1acac;
}
#things img{
	width: 600px;
	margin: 20px auto;
}
footer{
	border-top: 1px solid rgba(235, 234, 229, 0.884);
}
footer img{
	margin-bottom: 30px;
}
footer h4{
	font-size: 20px;
    margin-bottom: 35px;

}
footer ul{
	list-style: none;
    padding: 0;
}
footer ul a{
	color: #707070;
}
footer a{
	color:#f05f5c;
}
footer a:hover{
	color:#f05f5c;
}
footer ul a:hover{
	color: #707070;
	text-decoration: none;
	opacity: 0.8;
}
footer ul li{
	margin-bottom: 10px;
}
footer ul{
	float: left;
    margin-right: 46px;
}

.card-header .btn,.card-header .btn:hover{
	background:none!important;
	color:rgb(133, 10, 10);
}


#singlecontent h4{
	margin-top:50px;
}
.apply{
	background-color: #f9f9f9;
	padding: 44px;
}
.apply .btn{
	font-size: 16px;
    margin-top: 31px;
    width: 100%;
}
.btn2{
    color: #707070;
    border: 1px solid #707070;
    padding: 10px 24px;
    border-radius: 20px;
    margin-top: 3px;
    display: inline-block;
}
.btn2:hover{
	text-decoration: none;
	opacity: 0.8;
	color: #707070;
}

header nav img{
	width : 160px;
}
@media only screen and (max-width: 768px) {
	#second h5 {
	    margin-bottom: 50px;
	}
	#latest .col-md-4{
		margin-bottom: 60px;
	}
	footer h4 {
	    font-size: 17px;
	    margin-top: 30px;
	    margin-bottom: 18px;
	}
}